/*body*/
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: 100% 100%
}
/*questions*/
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

/*questions title*/
  .font-weight-normal {
    text-align: center;
  }

.textIndex {
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
   
}

.footerContact{
    margin-top: 190px;

}



*{
   font-family: 'Montserrat', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;

   transition: all .2s linear;
}



.container2{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:25px 20px;
}

.container2 .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color:#334;
}

.container2 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap:20px;
}

.container2 .box-container .box{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.container2 .box-container .box:nth-child(1),
.container2 .box-container .box:nth-child(2),
.container2 .box-container .box:nth-child(3){
  display: inline-block;
}

.container2 .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container2 .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container2 .box-container .box:hover .image img{
  transform: scale(1.1);
}

.container2 .box-container .box .content h3{
  font-size: 20px;
  color:#334;
}

.container2 .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:15px 0;
}

.container2 .box-container .box .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.container2 .box-container .box .content .btn:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

.container2 .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #334;
}

.container2 .box-container .box .content .icons span{
  font-size: 14px;
  color:#777;
}

.container2 .box-container .box .content .icons span i{
  color:crimson;
  padding-right: 5px;
}

#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

@media (max-width:450px){

  .container2 .heading{
    font-size: 25px;
  }

  .container2 .box-container{
    grid-template-columns: 1fr;
  }

  .container2 .box-container .box .image{
    height: 200px;
  }

  .container2 .box-container .box .content p{
    font-size: 12px;
  }

  .container2 .box-container .box .content .icons span{
    font-size: 12px;
  }

}
